@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import 'https://fonts.googleapis.com/css?family=Covered+By+Your+Grace';

body {
	font-family: 'Covered By Your Grace', cursive;
	box-sizing: border-box;
	background: url("/images/background.jpg") no-repeat;
	background-size: cover;
	height: 100vh;
	font-size: 20px;
}

h1 {
	font-size: 80px;
	text-align: center;
	color: fuchsia;
}

.form-control{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.list {
	font-size: 36px;
}
.list input{
	margin-right: 2rem;
	margin-top: 1.5rem;
}

.task span {
	font-size: 16px;
}

.task {
	display: flex;
    justify-content: space-between;
    align-items: center;

}